* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: hsl(233deg, 47%, 7%);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  max-width: 33rem;
  background-color: hsl(244deg, 38%, 16%);
  border-radius: 10px;
}
.card__img img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  -webkit-filter: opacity(0.6) drop-shadow(0 0 0 hsl(277deg, 64%, 61%));
          filter: opacity(0.6) drop-shadow(0 0 0 hsl(277deg, 64%, 61%));
}
.card__description {
  padding: 2.5em;
  text-align: center;
}
.card__description h1 {
  font-size: 3rem;
  color: hsl(0deg, 0%, 100%);
  font-family: "Inter", sans-serif;
  margin-bottom: 0.4em;
}
.card__description h1 span {
  color: hsl(277deg, 64%, 61%);
}
.card__description p {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: hsla(0deg, 0%, 100%, 0.6);
  font-family: "Inter", sans-serif;
}
.card__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card__stats li {
  list-style: none;
}
.card__stats .stats--big {
  font-size: 2rem;
  margin-bottom: 0.3em;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
}
.card__stats .stats--little {
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin-bottom: 1.7em;
  text-transform: uppercase;
  color: hsla(0deg, 0%, 100%, 0.6);
}

footer {
  background-color: hsl(277deg, 64%, 61%);
}
footer .attribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 5vh;
  padding: 1rem;
  color: hsl(0deg, 0%, 100%);
}
footer .attribution p {
  font-family: "Lexend Deca", sans-serif;
  display: inline-block;
  font-size: 2rem;
}
footer .attribution a {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 70%;
  }
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 70vw;
    min-height: 50vh;
  }
  .card .card__right {
    width: 50%;
  }
  .card .card__left {
    max-width: 50%;
  }
  .card__stats ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card__stats li {
    margin: 0 60px;
  }
}